langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
chromadb
openai
python-dotenv
streamlit
langsmith
langgraph
presidio-analyzer
presidio-anonymizer
spacy
watchdog
kaggle
requests
pandas
tqdm
schedule
datasets
huggingface_hub
